<div class="work-info">    
    <h2>Trabajo</h2>
    <p>Actualmente, estudiante por egresar, creador y desarrollador en "Kazuro Systems".</p>
</div>


<div class="work-content">
    <a href="https://www.facebook.com/Kazuro-Systems-108872151701822" target="_blank" class="work-img">
        <img src="./assets/img/kazuro_info.png">
    </a>
    <div class="work-img-content">
        <h2>Kazuro Systems</h2>
        <p>
            Empresa encargada al desarrollo de software, contando 
            con tecnología moderna o la necesaria para sus proyectos.
        </p>
        <ul>
            <li>Diseño de páginas web</li>
            <li>Aplicaciones de escritorio</li>
            <li>Aplicaciones móviles</li>
        </ul>
        <a href="https://www.facebook.com/Kazuro-Systems-108872151701822" target="_blank">Ver detalles</a>
    </div>
</div>