<div class="profile-container">
    <a class="profile-img" routerLink="">
        <img src="./assets/img/Kazuro_Logo.png" />
    </a>
    <div class="profile-information">
        <h1 class="profile-name">
            Kazuro Systems
        </h1>
        <div class="subrayado"></div>
        <nav class="pages">
            <a routerLinkActive="active" routerLink="/work">Trabajo</a>
            <a routerLinkActive="active" routerLink="/projects">Proyectos</a>            
            <a routerLinkActive="active" routerLink="/contact">Contacto</a>
        </nav>
    </div>
</div>