<div class="profile-container">
    <div class="profile-img">
        <img src="./assets/img/profile.jpg" />
    </div>
    <div class="profile-information">
        <div class="profile-name">
            ROBY ZUÑIGA
        </div>
        <div class="subrayado"></div>
        <nav class="pages">
            <a routerLink="/work">Formación</a>
            <a routerLink="/projects">Proyectos</a>
            <a routerLink="/articles">Articulos</a>
            <a routerLink="/contact">Contacto</a>
        </nav>
    </div>
</div>